PORT=3001
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/streamx
JWT_SECRET=streamx_super_secret_key_2026_cambiar_en_produccion
JWT_EXPIRES=7d
FRONTEND_URL=http://localhost:3000
REFRESH_INTERVAL_MS=300000
